@use "./variables.scss" as *;

header {
    background-color: $color-light;
    .nav-link {
        text-decoration: none;
        color: $color-dark;
        .title {
            font-size: $font-xl;
            font-weight: 300;
        }
    }
    form {
        width: 300px;
        label {
            display: inline-block;
            font-size: $font-sm;
        }
    }
}